name: Automatisation des tests

on: push

jobs:

  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du dépôt
        uses: actions/checkout@v3

      - name: Compilation + Tests CTest
        run: |
          mkdir build
          cd build
          cmake ..
          make
          make test


  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Récupération du dépôt
        uses: actions/checkout@v3

      - name: Compilation
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: Test de la fonction add
        run: |
          ./build/calculator add 10 5

