name: Automatisation des tests

on: push

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Compilation
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Run test "add" and capture report
        run: |
          cd build
          set -e
          echo "== Test add 10 5 ==" > report.txt
          ./src/calculator add 10 5 | tee -a report.txt
          echo "Exit code: $?" >> report.txt

      - name: Upload report as arti

