name: Automatisation des tests

on: push

jobs:

  Build_and_Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Compilation + Tests CTest + Test manuel
        run: |
          mkdir build
          cd build
          cmake ..
          make
          make test
          # Test manuel add
          ./calculator add 10 5
